<robot name="lime">

  <material name="color">
      <color rgba="0 0 1 1"/>
  </material>

  <link name="lime">
    <collision>
      <origin rpy="0 0 0" xyz="-0.03 -0.03 0.005"/>
      <geometry>
        <mesh filename="lime.stl" scale="0.0005 0.0005 0.0005" />
      </geometry>
      <material name="color"/>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="-0.03 -0.03 0.005"/>
      <material name="lemon yellow">
        <color rgba="0.65 0.60 0.10 1.0" />
      </material>
      <geometry>
        <mesh filename="lime.dae" scale="0.0005 0.0005 0.0005" />
      </geometry>
      <material name="color"/>
    </visual>
  </link>
</robot>