<robot name="bottle">

    <material name="color">
        <color rgba="0 0 1 1"/>
    </material>

    <link name="bottle">
        <visual>
            <geometry>
                <mesh filename="bottle.stl" />
            </geometry>
            <material name="color"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="bottle.stl"/>
            </geometry>
        </collision>
    </link>
</robot>
