<robot name="roller">

    <material name="color">
        <color rgba="0 1 0 1"/>
    </material>

    <link name="roller">
        <visual>
            <geometry>
                <mesh filename="roller.stl" />
            </geometry>
            
        </visual>
        <collision>
            <geometry>
                <mesh filename="roller.stl"/>
            </geometry>
            <material name="color"/>
        </collision>
    </link>
</robot>
